@font-face {
    font-family: 'MortalKombatTitle';
    src: url(fonts/MKtitle.ttf) format('truetype');
}
@font-face {
    font-family: 'MortalKombatOne';
    src: url(fonts/mortalkombat1.ttf) format('truetype');
}

* {
    color: red;
}
body {
    background-image: url(images/thepit.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'MortalKombatTitle', sans-serif;
    text-align: center;
}

.game-ctr {
    font-family: 'MortalKombatOne', sans-serif;
}

img {
    height: 150px;
    width: 100px;
}

#game-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 300px;
}


#init-button {
    font-size: 20px;
}