@font-face {
    font-family: 'MortalKombatTitle';
    src: url(fonts/MKtitle.ttf) format('truetype');
}
@font-face {
    font-family: 'MortalKombatOne';
    src: url(fonts/mortalkombat1.ttf) format('truetype');
}

* {
    color: red;
}
body {
    background-image: url(images/thepit.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'MortalKombatTitle', sans-serif;
    text-align: center;
    font-size: 90px;
    margin-top: 0px;
    border: solid gray 10px;
    background-color: lightgray;
}

.game-ctr {
    font-family: 'MortalKombatOne', sans-serif;
    text-align: center;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: yellow;
    padding-top: 5px;
}

h3 {
    font-size: 40px;
    text-align: center;
}

.results {
    font-size: 20px;
}

#game-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

img {
    height: calc(15% - 5px);
    width: calc(13.33% - 5px);
    margin: 5px;
}

#init-button {
    font-size: 30px;
    /* position: absolute; */
    bottom: 0px;
    color: #00FF40;
    background-color: black;
    font-family: 'MortalKombatOne', sans-serif;
}